@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.category {
    margin: 24px;
}

.movies-list {
    transition: all ease 2s;
    overflow: hidden;
}

.movies {
    display: flex;
    flex-direction: row;
    width: 5000px;
}

.movie {
    width: 200px;
}

.arrow {
    position: absolute;
    transition: all ease 0.4s;
    z-index: 2;
    opacity: 0;
    width: 30px;
    color: white;
    background-color: rgb(92, 92, 92);
    height: 220px;
    transform: scale(1.3);
    margin-top: 50px;
    padding-top: 100px;
    overflow: hidden;
}

.arrow:hover {
    opacity: 80%;
    border-radius: 8px;
}

.arw-right {
    right: 0;
}

.arw-left {
    left: 0;
}

h2 {
    color: white;
    margin-bottom: 5px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 10px;
}

.movie img {
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    height: 320px;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

img:hover {
    transform: scale(1);
}
