* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(243, 60, 60);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 641px) {
  .catefories-area {
    margin-top: 150px;
  }
}

.loading_gif {
  margin-left: 400px;
}

footer {
  text-align: center;
  color: white;
  margin: 10px;
}
